# Lab 4

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-510/blob/main/book/labs/lab_04.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [2]:
nycll = (40.7128, -74.006)
nycpop = 8336817
nycsqkm = 783.8

In [3]:
nycpopdens = nycpop/nycsqkm
print(nycpopdens)
print(f"Latitude: {nycll[0]}, Longitude: {nycll[1]}")

10636.408522582293
Latitude: 40.7128, Longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [5]:
city = "San Francisco"
lcity = city.lower()
lcity

'san francisco'

In [6]:
ucity = city.upper()
ucity

'SAN FRANCISCO'

In [7]:
ucity = ucity.replace("SAN" , "LOS")
ucity

'LOS FRANCISCO'

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [24]:
cities = [
    ("New York", 40.7128, -74.006),
    ("Los Angeles", 34.0522, -118.2437),
    ("Chicago", 41.8781, -87.6298)]

In [25]:
cities.append(("Miami", 25.7617, -80.1918))
cities

[('New York', 40.7128, -74.006),
 ('Los Angeles', 34.0522, -118.2437),
 ('Chicago', 41.8781, -87.6298),
 ('Miami', 25.7617, -80.1918)]

In [26]:
print(cities[:2])

[('New York', 40.7128, -74.006), ('Los Angeles', 34.0522, -118.2437)]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [27]:
eiffeltower = (48.8584, 2.2945)
eiffeltower

(48.8584, 2.2945)

In [ ]:
eiffeltower[0] = 48.8585
eiffeltower
#Tuples do not allow the information to be changed.
#Rewriting the entire tuple with the updated information is necessary to change the values.

TypeError: 'tuple' object does not support item assignment

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [32]:
countries = {"USA", "France", "Germany"}
countries.add("Japan")
countries

{'France', 'Germany', 'Japan', 'USA'}

In [ ]:
countries.add("Japan")
countries
#Sets do not allow duplicates

{'France', 'Germany', 'Japan', 'USA'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 mÂ³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [38]:
hydro = {
    "Name": "Amazon River",
    "Length": 6400, #in km
    "Countries": ["Brazil", "Peru", "Colombia"]
}

In [40]:
hydro["Discharge"] = 209000 #cubic meters

In [41]:
hydro["Length"] = 6992
hydro

{'Name': 'Amazon River',
 'Length': 6992,
 'Countries': ['Brazil', 'Peru', 'Colombia'],
 'Discharge': 209000}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [46]:
nds = {
    "Name": "Tokyo",
    "Population": 13515271,
    "Coordinates": (35.6895, 139.6917)
}

In [55]:
print(nds["Population"])

13515271

In [57]:
print(nds["Coordinates"][0])

35.6895

In [58]:
nds["Population"] = 14000000
nds

{'Name': 'Tokyo', 'Population': 14000000, 'Coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [93]:
cities.sort()
cities

[('Chicago', 41.8781, -87.6298),
 ('Los Angeles', 34.0522, -118.2437),
 ('Miami', 25.7617, -80.1918),
 ('New York', 40.7128, -74.006)]

In [95]:
citiesname = [city[0] for city in cities]
citiesname

['Chicago', 'Los Angeles', 'Miami', 'New York']

In [96]:
citiesname = citiesname[:-1]
citiesname

['Chicago', 'Los Angeles', 'Miami']

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [101]:
hydro

{'Name': 'Amazon River',
 'Length': 6992,
 'Countries': ['Brazil', 'Peru', 'Colombia'],
 'Discharge': 209000}

In [111]:
if "Length" in hydro.keys():
    print("Length exists.")

Length exists.

In [108]:
hydro.keys()

dict_keys(['Name', 'Length', 'Countries', 'Discharge'])

In [109]:
print(hydro.values())

dict_values(['Amazon River', 6992, ['Brazil', 'Peru', 'Colombia'], 209000])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [118]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [121]:
locs = [loc[0] for loc in locations]
locs

['Mount Everest', 'K2', 'Kangchenjunga']

In [123]:
locsdict = {loc[0]: (loc[1], loc[2]) for loc in locations}
locsdict

{'Mount Everest': (27.9881, 86.925),
 'K2': (35.8808, 76.5155),
 'Kangchenjunga': (27.7025, 88.1475)}

In [124]:
locsdict["K2"][0]

35.8808

## Exercise 11: Manipulating Geographic Location Strings

- Create a string that represents the name of a geographic feature (e.g., `"Amazon River"`).
- Convert the string to lowercase and then to uppercase.
- Concatenate the string with the name of the country (e.g., `"Brazil"`) to create a full location name.
- Repeat the string three times, separating each repetition with a dash (`-`).

In [125]:
geofeat = "Amazon River"

In [127]:
geofeat.lower()

'amazon river'

In [128]:
geofeat.upper()

'AMAZON RIVER'

In [130]:
country = "Brazil"
location_name = geofeat + ", " + country
location_name

'Amazon River, Brazil'

In [133]:
print((location_name + " - ") *2 + location_name)

Amazon River, Brazil - Amazon River, Brazil - Amazon River, Brazil

## Exercise 12: Extracting and Formatting Coordinates

- Given a string with the format `"latitude, longitude"` (e.g., `"40.7128N, 74.0060W"`), extract the numeric values of latitude and longitude.
- Convert these values to floats and remove the directional indicators (`N`, `S`, `E`, `W`).
- Format the coordinates into a `POINT` WKT string (e.g., `"POINT(-74.0060 40.7128)"`).

In [143]:
excer12 = "40.7128N, -74.0060W"
excer12_lat, excer12_lon = excer12.split(", ")
print(excer12_lat, excer12_lon)

40.7128N -74.0060W

In [144]:
excer12_lat = excer12_lat[:-1]
excer12_lon = excer12_lon[:-1]
excer12_lat, excer12_lon

('40.7128', '-74.0060')

In [145]:
excer12_lat = float(excer12_lat)
excer12_lon = float(excer12_lon)

In [146]:
print(f"{excer12_lon} {excer12_lat}")

-74.006 40.7128

## Exercise 13: Building Dynamic SQL Queries

- Given a table name and a condition, dynamically build an SQL query string.
- Example: If `table_name = "cities"` and `condition = "population > 1000000"`, the query should be `"SELECT * FROM cities WHERE population > 1000000;"`.
- Add additional conditions dynamically, like `AND` clauses.

In [149]:
table_name = "cities"
condition = "population"
hemi = "hemisphere"
query = f"SELECT * FROM {table_name} WHERE {condition} > 1000000 AND hemisphere = {hemi}"

## Exercise 14: String Normalization and Cleaning

- Given a list of city names with inconsistent formatting (e.g., `[" new york ", "Los ANGELES", "   CHICAGO"]`), normalize the names by:
  - Stripping any leading or trailing whitespace.
  - Converting them to title case (e.g., `"New York"`, `"Los Angeles"`, `"Chicago"`).
- Ensure that the output is a clean list of city names.

In [151]:
city_names = [" new york" , "Los ANGELES", "CHICAGO"]

In [154]:
city_names = [name.strip().title() for name in city_names]
city_names.sort()
city_names

['Chicago', 'Los Angeles', 'New York']

## Exercise 15: Parsing and Extracting Address Information

- Given a string in the format `"Street, City, Country"` (e.g., `"123 Main St, Springfield, USA"`), write a function that parses the string into a dictionary with keys `street`, `city`, and `country`.
- The function should return a dictionary like `{"street": "123 Main St", "city": "Springfield", "country": "USA"}`.

In [158]:
place = "123 Main St, Springfield, USA"

In [159]:
place_dict = {"Street": place.split(", ")[0], "City": place.split(", ")[1], "Country": place.split(", ")[2]}
place_dict

{'Street': '123 Main St', 'City': 'Springfield', 'Country': 'USA'}

## Exercise 16: Using For Loops to Process Coordinate Lists

- Create a list of tuples representing coordinates (latitude, longitude).
- Write a `for` loop that prints each coordinate and indicates whether it is in the Northern or Southern Hemisphere based on the latitude.

In [160]:
coordinates = (40.7128, -74.0060), (34.0522, -118.2437), (-41.8781, -87.6298), (48.8584, 2.2945)

In [161]:
for coord in coordinates:
    if coord[0] > 0:
        print(f"{coord} is in the Northern Hemisphere.")
    if coord[0] < 0:
        print(f"{coord} is in the Southern Hemisphere.")

(40.7128, -74.006) is in the Northern Hemisphere.
(34.0522, -118.2437) is in the Northern Hemisphere.
(-41.8781, -87.6298) is in the Southern Hemisphere.
(48.8584, 2.2945) is in the Northern Hemisphere.

## Exercise 17: While Loops for Iterative Processing

- Create a list of coordinates (latitude, longitude).
- Write a `while` loop that continues to print each coordinate until it encounters a coordinate with a negative latitude.
- Stop the loop once this condition is met.

In [162]:
coordinates1 = (40.7128, -74.0060), (34.0522, -118.2437), (-41.8781, -87.6298), (48.8584, 2.2945)

In [165]:
for coord in coordinates1:
    while coord[0] > 0:
        print(f"{coord} is in the Northern Hemisphere.")
        break

(40.7128, -74.006) is in the Northern Hemisphere.
(34.0522, -118.2437) is in the Northern Hemisphere.
(48.8584, 2.2945) is in the Northern Hemisphere.

## Exercise 18: Conditional Logic in Loops

- Create a list of coordinates and use a `for` loop to iterate over them.
- Use an `if-elif-else` statement inside the loop to classify each coordinate based on its longitude:
  - Print `"Eastern Hemisphere"` if the longitude is greater than 0.
  - Print `"Western Hemisphere"` if the longitude is less than 0.

In [166]:
coordinates2 = (40.7128, -74.0060), (34.0522, -118.2437), (-41.8781, -87.6298), (0, 0)

In [168]:
for coord in coordinates2:
    if coord[0] > 0:
        print(f"{coord} is in the Northern Hemisphere.")
    elif coord[0] < 0:
        print(f"{coord} is in the Southern Hemisphere.")
    else:
        print(f"{coord} is on the Equator.")

(40.7128, -74.006) is in the Northern Hemisphere.
(34.0522, -118.2437) is in the Northern Hemisphere.
(-41.8781, -87.6298) is in the Southern Hemisphere.
(0, 0) is on the Equator.

## Exercise 19: Filtering Data with Combined Loops and Conditionals

- Given a list of coordinates, filter out and store only those located in the Southern Hemisphere (latitude < 0).
- Count the number of coordinates that meet this condition and print the result.

In [186]:
coordinates2_south = []
count = 0
for coord in coordinates2:
    if coord[0] < 0:
        coordinates2_south.append(coord)
        count += 1
print(coordinates2_south)
print(f"Number of coordinates in Southern Hemisphere:", count)

[(-41.8781, -87.6298)]
Number of coordinates in Southern Hemisphere: 1

## Exercise 20: Generating and Analyzing Random Coordinates

- Write a program that generates random coordinates (latitude between [-90, 90] degrees and longitude between [-180, 180] degrees).
- Use a `while` loop to keep generating coordinates until a pair with both latitude and longitude greater than 50 is generated.
- Print each generated coordinate and the final coordinate that meets the condition.

In [175]:
import random

In [187]:
count = 0
while True:
    latitude = random.uniform(-90, 90)
    longitude = random.uniform(-180, 180)
    count += 1
    print(f"{latitude:.4f}, {longitude:.4f}")
    if latitude > 50 and longitude > 50:
        print(f"{latitude:.4f}, {longitude:.4f}")
        print(f"There are {count} randomly generated coordinates until the condition is met.")
        break

-79.5976, 57.0755
13.3076, -30.4872
-65.9226, -72.5427
49.5309, 84.6647
-14.0172, 1.4497
-16.5021, -19.3156
87.0543, -23.2963
-21.9212, -132.8956
-84.9270, 31.3378
-4.7257, -132.0681
-87.6769, -36.3331
63.9366, 171.9574
63.9366, 171.9574
There are 12 randomly generated coordinates until the condition is met.

## Submission Requirements

Complete the exercises above and and upload the notebook to your GitHub repository. Make sure the notebook has a Colab badge at the top so that it can be easily opened in Google Colab. Submit the URL of the notebook to Canvas.